# Lesson 1

Two goals:
1. Get familiar with Jupyter
1. Different types of values (data)

We are going to cover 4 data types: 
* integer
* decimal (called "float")
* strings (for letters)
* true/false (called Boolean)

## Step 1
Enter some math expression in a Jupyter cell. Press Control+Enter to for it to calculate. Or use the Play button by the menu.

For example
```python
1+1
2
```

In [ ]:
1+1

In [ ]:
24*3

Try some of your own.

To create a new cell, use the "+" button by the menu, or use Esc-B.

## Step 2

Now try this for division
```python
1//2
```
Did you get what you expected?

In [ ]:
1//2

Computer languages treat integers and decimals as different types.

You can "ask" Python what the data type is.
```Python
type(1)
type(1.0)
```
You'll see that "decimal" numbers are called  "float". (The reason for that term is technical....)

In [ ]:
type(1)

In [ ]:
type(1.0)

Now try
```Python
1.0/2.0
```
and 
```Python
1/2
```
* In the first case we divide two floats.
* In the second, a single / means to do "floating division"
  * A double // means do "integer division"

## Other data types

Besides integer and float there are

### Strings
Short for "string of letters"
```Python
'abcdef'
type('abcdef')
```

In [ ]:
type('abcdef')

What happens if you add two strings?
```Python
'Hello'+'World'
```

In [ ]:
'Hello'+'World'

Now numbers can be in strings!

Try
```Python
'123'
'-46.5'
```

What happens if you do
```Python
'1'+'2'
```

### Boolean

These are very simple for humans but very useful for computers and programming. Only two values are possible: True and False.

First try typing these
```Python
type(True)
not True
```

But the best way to introduce Boolean values is that they are the answer to inequalities (greater than/less than)

Try the following
```Python
1 < 2
2 > 1
-40*-2 > 0
```

Finally you can calculate combinations of True and False

* For "and" both things need to be True
* For "or" only one needs to be True (or both)

```Python
2>4 and 2>1
2>4 or 2>1
```

# Homework

Pick or make up some math problems and use Jupyter as a calculator.

Maybe pick some advanced ones and ask for help. It's good to be curious and not just follow instructions :-)